.banner {
    position: relative
}

.contact-us {
    position: absolute;
    width: 1.875rem;
    height: 6.5625rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    top: 30%;
    right: 0;
    color: #fff;
    font-size: .875rem;
    padding: .625rem 0 .75rem;
    border-radius: .625rem 0 0 .625rem;
    background-size: .75rem .8125rem;
    background-color: rgba(0, 0, 0, .8);
    z-index: 100
}

.contact-us img {
    width: .75rem;
    margin-bottom: .3125rem
}

.contact-us span {
    width: .875rem
}

.star-promotion {
    padding: 1.4063rem .9375rem
}

.star-promotion-wrap {
    margin: 0 auto;
    border: 1px solid #ffeddf;
    border-radius: .5625rem;
    overflow: hidden
}

.star-promotion-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 2.75rem;
    border-radius: .5625rem .5625rem 0 0;
    background-color: #b83b35
}

.star-promotion-title img {
    width: 11.0938rem
}

.star-promotion-body {
    padding: 1.25rem 0 1.5625rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fef8f3
}

.star-promotion-body img {
    width: 18.4375rem
}

.zxcs-index-query {
    font-size: .875rem;
    text-align: center;
    padding: .3125rem 0 1.5rem;
    color: #452526
}

.zxcs-index-query span {
    color: #ffeec0
}

.zxcs-index-query-text {
    color: #ffeec0;
    text-decoration: underline;
    margin-left: 1.25rem
}

.index-page {
    background: #c43129;
    position: relative;
    overflow: hidden;
    min-height: 100vh
}

.index-page .banner {
    min-height: 18.75rem
}

.index-page img {
    display: block
}

.index-page .img-title {
    position: absolute;
    top: -.3125rem;
    right: 25%;
    width: auto;
    height: 21.875rem;
    z-index: 20
}

.index-page .form-section {
    position: relative;
    z-index: 4;
    min-height: 12.5rem
}

.index-page .form-section .img-form {
    margin-top: -1px
}

.index-page .form-section .label-box {
    width: 21.875rem;
    height: 2.5rem;
    position: absolute;
    left: 50%;
    margin-left: -10.9375rem;
    top: 7.9375rem;
    z-index: 10
}

.index-page .form-section .img-btn {
    position: absolute;
    left: 50%;
    margin-left: -7.5rem;
    bottom: 34%;
    width: 15rem;
    height: auto;
    -webkit-animation: btnAnimate 2s linear infinite;
    animation: btnAnimate 2s linear infinite
}

.index-page .form-section .zxcs-index-query {
    position: absolute;
    bottom: 20%;
    width: 100%;
    color: #ff9f2d
}

.index-page .form-section .zxcs-index-query span {
    color: #fffbed
}

.index-page .form-section .zxcs-index-query-text {
    display: inline-block;
    color: #fffbed
}

.index-page .zx-img {
    position: relative;
    z-index: 3
}

.index-page .zx-img img {
    margin-top: -1px
}

.query-latest-order {
    z-index: 100
}

.index-button {
    background: rgba(0, 0, 0, .5);
    height: 4.6875rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.index-button img {
    width: 15rem;
    height: auto;
    pointer-events: none;
    -webkit-animation: btnAnimate 2s linear infinite;
    animation: btnAnimate 2s linear infinite
}

.common-fixed-report {
    z-index: 100
}

.wnl_history_btn {
    bottom: 5.625rem !important
}

.new-site-home {
    z-index: 40
}

.teacher-intro-section .banner-swiper-section {
    bottom: 38%
}

.circle-section {
    position: absolute;
    width: 100%;
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 50%;
    top: 1.125rem;
    left: -10.625rem;
    z-index: 10
}

.circle-section .line-box {
    position: absolute;
    width: 5.25rem;
    height: 4.0625rem;
    z-index: 20;
    right: .9375rem;
    top: 2.5rem
}

.circle-section .line-box .text-box {
    position: absolute;
    top: -1.5625rem;
    right: -2.1875rem;
    color: #c0412f;
    width: 4.6875rem
}

.circle-section .img-small-cirlce {
    position: absolute;
    width: 9.375rem;
    height: 9.375rem;
    top: 50%;
    left: 50%;
    margin-left: -4.6875rem;
    margin-top: -4.6875rem;
    z-index: 10
}

.circle-section .img-mid-cirlce {
    position: absolute;
    width: 14.25rem;
    height: 14.25rem;
    top: 50%;
    left: 50%;
    margin-left: -7.125rem;
    margin-top: -7.125rem;
    z-index: 5
}

.circle-section .img-big-cirlce {
    position: absolute;
    width: 23.75rem;
    height: 23.75rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3
}

.circle-section .big-circle-section {
    position: absolute;
    width: 23.75rem;
    height: 23.75rem;
    top: 50%;
    left: 50%;
    margin-left: -11.875rem;
    margin-top: -11.875rem;
    z-index: 4
}

.circle-section .big-circle-section .sx-item {
    position: absolute;
    width: 11.875rem;
    height: 11.875rem;
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.circle-section .big-circle-section .sx-item:first-child {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.circle-section .big-circle-section .sx-item:first-child > div {
    width: 1.5625rem;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    position: relative
}

.circle-section .big-circle-section .sx-item:first-child > div img {
    width: 1.875rem
}

.circle-section .big-circle-section .sx-item:first-child > div img:nth-of-type(2) {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-transform: scale(5);
    transform: scale(5)
}

.circle-section .big-circle-section .sx-item:nth-child(2) {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg)
}

.circle-section .big-circle-section .sx-item:nth-child(2) > div {
    width: 1.5625rem;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    position: relative
}

.circle-section .big-circle-section .sx-item:nth-child(2) > div img {
    width: 1.875rem
}

.circle-section .big-circle-section .sx-item:nth-child(2) > div img:nth-of-type(2) {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-transform: scale(5);
    transform: scale(5)
}

.circle-section .big-circle-section .sx-item:nth-child(3) {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg)
}

.circle-section .big-circle-section .sx-item:nth-child(3) > div {
    width: 1.5625rem;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    position: relative
}

.circle-section .big-circle-section .sx-item:nth-child(3) > div img {
    width: 1.875rem
}

.circle-section .big-circle-section .sx-item:nth-child(3) > div img:nth-of-type(2) {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-transform: scale(5);
    transform: scale(5)
}

.circle-section .big-circle-section .sx-item:nth-child(4) {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.circle-section .big-circle-section .sx-item:nth-child(4) > div {
    width: 1.5625rem;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    position: relative
}

.circle-section .big-circle-section .sx-item:nth-child(4) > div img {
    width: 1.875rem
}

.circle-section .big-circle-section .sx-item:nth-child(4) > div img:nth-of-type(2) {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-transform: scale(5);
    transform: scale(5)
}

.circle-section .big-circle-section .sx-item:nth-child(5) {
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg)
}

.circle-section .big-circle-section .sx-item:nth-child(5) > div {
    width: 1.5625rem;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    position: relative
}

.circle-section .big-circle-section .sx-item:nth-child(5) > div img {
    width: 1.875rem
}

.circle-section .big-circle-section .sx-item:nth-child(5) > div img:nth-of-type(2) {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-transform: scale(5);
    transform: scale(5)
}

.circle-section .big-circle-section .sx-item:nth-child(6) {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg)
}

.circle-section .big-circle-section .sx-item:nth-child(6) > div {
    width: 1.5625rem;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    position: relative
}

.circle-section .big-circle-section .sx-item:nth-child(6) > div img {
    width: 1.875rem
}

.circle-section .big-circle-section .sx-item:nth-child(6) > div img:nth-of-type(2) {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-transform: scale(5);
    transform: scale(5)
}

.circle-section .big-circle-section .sx-item:nth-child(7) {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
}

.circle-section .big-circle-section .sx-item:nth-child(7) > div {
    width: 1.5625rem;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    position: relative
}

.circle-section .big-circle-section .sx-item:nth-child(7) > div img {
    width: 1.875rem
}

.circle-section .big-circle-section .sx-item:nth-child(7) > div img:nth-of-type(2) {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-transform: scale(5);
    transform: scale(5)
}

.circle-section .big-circle-section .sx-item:nth-child(8) {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg)
}

.circle-section .big-circle-section .sx-item:nth-child(8) > div {
    width: 1.5625rem;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    position: relative
}

.circle-section .big-circle-section .sx-item:nth-child(8) > div img {
    width: 1.875rem
}

.circle-section .big-circle-section .sx-item:nth-child(8) > div img:nth-of-type(2) {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-transform: scale(5);
    transform: scale(5)
}

.circle-section .big-circle-section .sx-item:nth-child(9) {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg)
}

.circle-section .big-circle-section .sx-item:nth-child(9) > div {
    width: 1.5625rem;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    position: relative
}

.circle-section .big-circle-section .sx-item:nth-child(9) > div img {
    width: 1.875rem
}

.circle-section .big-circle-section .sx-item:nth-child(9) > div img:nth-of-type(2) {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-transform: scale(5);
    transform: scale(5)
}

.circle-section .big-circle-section .sx-item:nth-child(10) {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
}

.circle-section .big-circle-section .sx-item:nth-child(10) > div {
    width: 1.5625rem;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    position: relative
}

.circle-section .big-circle-section .sx-item:nth-child(10) > div img {
    width: 1.875rem
}

.circle-section .big-circle-section .sx-item:nth-child(10) > div img:nth-of-type(2) {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-transform: scale(5);
    transform: scale(5)
}

.circle-section .big-circle-section .sx-item:nth-child(11) {
    -webkit-transform: rotate(390deg);
    transform: rotate(390deg)
}

.circle-section .big-circle-section .sx-item:nth-child(11) > div {
    width: 1.5625rem;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    position: relative
}

.circle-section .big-circle-section .sx-item:nth-child(11) > div img {
    width: 1.875rem
}

.circle-section .big-circle-section .sx-item:nth-child(11) > div img:nth-of-type(2) {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-transform: scale(5);
    transform: scale(5)
}

.circle-section .big-circle-section .sx-item:nth-child(12) {
    -webkit-transform: rotate(420deg);
    transform: rotate(420deg)
}

.circle-section .big-circle-section .sx-item:nth-child(12) > div {
    width: 1.5625rem;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    position: relative
}

.circle-section .big-circle-section .sx-item:nth-child(12) > div img {
    width: 1.875rem
}

.circle-section .big-circle-section .sx-item:nth-child(12) > div img:nth-of-type(2) {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-transform: scale(5);
    transform: scale(5)
}

.index-popupbtn {
    background-color: rgba(0, 0, 0, .5)
}

.index-popupbtn p {
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: .3125rem;
    color: #fff;
    background-color: #f6497d;
    text-align: center;
    font-size: .9375rem;
    cursor: pointer
}

.index-popupbtn img {
    pointer-events: none;
    width: 92%;
    display: block;
    margin: 0 auto
}

.xcindex-page {
    background: #c43129;
    position: relative;
    overflow: hidden;
    min-height: 100vh
}

.xcindex-page .xcindex-form {
    background: url(//zx.tengzhihh.com/mllniunianyuncheng/images/form_bg.859e4c7.jpg) no-repeat;
    background-size: 100% 100%;
    padding-bottom: .9375rem;
    margin-top: -1px
}

.xcindex-page img {
    display: block
}

.xcindex-page .zx-img img {
    margin-top: -1px
}

.query-latest-order {
    position: relative;
    z-index: 10
}

.fixed-button {
    background: #e8242f
}

.common-fixed-report {
    z-index: 9
}

.zxcs-video {
    width: 80%
}

.zxcs-video video {
    width: 100%;
    border-radius: .3125rem
}

.teacher-intro-section {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: -1px
}

.teacher-intro-section .img-intro {
    position: relative;
    z-index: 6
}

.teacher-intro-section .img-video {
    width: 100%;
    height: 12.5rem;
    position: relative;
    margin-top: -1px;
    z-index: 7
}

.teacher-intro-section .video-section {
    width: 100%;
    bottom: 1.5625rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.teacher-intro-section .banner-swiper-section, .teacher-intro-section .video-section {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    z-index: 8
}

.teacher-intro-section .banner-swiper-section {
    bottom: 35%;
    width: 120%
}

.teacher-intro-section .banner-swiper-section .item {
    padding-top: .4375rem;
    visibility: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.teacher-intro-section .banner-swiper-section .item > img {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: auto
}

.teacher-intro-section .banner-swiper-section .item p {
    font-size: .8125rem;
    text-align: center;
    color: #333;
    margin-top: .3125rem
}

.teacher-intro-section .banner-swiper-section .swiper-slide-prev {
    visibility: visible !important
}

.teacher-intro-section .banner-swiper-section .swiper-slide-prev p {
    display: none
}

.teacher-intro-section .banner-swiper-section .swiper-slide-active, .teacher-intro-section .banner-swiper-section .swiper-slide-next {
    visibility: visible !important
}

.teacher-intro-section .banner-swiper-section .swiper-slide-next p {
    display: none
}

.xcindex-banner {
    position: relative
}

.xcindex-banner-pan {
    width: 100%;
    height: 17.1875rem;
    position: absolute;
    top: 20%
}

.xcindex-banner-pan .pan {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.xcindex-banner-pan .pan1, .xcindex-banner-pan .pan2 {
    width: 17.1875rem;
    height: 17.1875rem
}

.xcindex-banner-mll {
    width: 23.4375rem;
    position: absolute;
    left: 50%;
    bottom: -2.5rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.xcindex-banner-tip {
    position: absolute;
    width: 3.25rem;
    height: 7.7188rem;
    background: url(//zx.tengzhihh.com/mllniunianyuncheng/images/tip_bg.7318399.png) no-repeat;
    background-size: 100% 100%;
    left: 3.4375rem;
    bottom: 4.0625rem;
    font-weight: 700;
    font-size: .9375rem;
    color: #3e0000;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.xcindex-banner-tip .shengxiao {
    width: 1.3438rem;
    height: 1.3438rem;
    background: #dc0025;
    -webkit-box-shadow: 0 1px .1875rem 0 #d06700;
    box-shadow: 0 1px .1875rem 0 #d06700;
    border-radius: 5px;
    color: #ffea73;
    line-height: 1.3438rem;
    margin-bottom: .3125rem;
    opacity: 0
}

.xcindex-banner-tip .tip {
    width: .9375rem;
    opacity: 0
}

.zxcs-form {
    border: 1px solid #eed0aa;
    border-radius: .25rem;
    overflow: hidden
}

.zxcs-form .zxcs-form-field {
    display: -ms-flexbox;
    display: flex;
    height: 2.1875rem;
    background-color: #fff;
    border-top: 1px solid #eed0aa;
    border-color: inherit;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.zxcs-form .zxcs-form-field:first-of-type {
    border-top: none
}

.zxcs-form .zxcs-form-field .zxcs-label {
    width: 4.8438rem;
    font-size: .875rem;
    color: #6f0011;
    text-align: center;
    line-height: 2.1875rem
}

.zxcs-form .zxcs-form-field .zxcs-input {
    height: 100%;
    padding: .4688rem 0
}

.zxcs-form .zxcs-form-field .zxcs-input-el {
    border: none;
    width: 100%;
    height: 100%;
    font-size: .875rem;
    line-height: 1.4
}

.zxcs-form .zxcs-form-field .zxcs-input-el::-webkit-input-placeholder {
    color: #666;
    font-size: .875rem;
    line-height: 1.4
}

.zxcs-form .zxcs-form-field .zxcs-input-el:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 9.375rem #fff inset;
    box-shadow: inset 0 0 0 9.375rem #fff
}

.zxcs-form .zxcs-form-field .zxcs-input-control {
    -ms-flex: 1 1;
    flex: 1 1;
    -ms-flex-align: center;
    align-items: center
}

.zxcs-form .zxcs-form-field .zxcs-radio {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center
}

.zxcs-form .zxcs-form-field .zxcs-radio input {
    display: none
}

.zxcs-form .zxcs-form-field .zxcs-picker {
    font-size: .875rem;
    line-height: 2.1875rem;
    color: #666
}

.zxcs-form .zxcs-form-field .radio-option {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    border: 1px solid #eedbcb;
    background-color: #fffbf2;
    text-align: center;
    color: #666;
    line-height: 1.625rem;
    font-size: .875rem;
    margin-right: .8125rem
}

.zxcs-form .zxcs-form-field .radio-option.checked {
    background-color: #9d2e41;
    color: #fff
}

.form-wrapper .form-box {
    background: url(//zx.tengzhihh.com/mllniunianyuncheng/images/form_bg.e15d1d4.png) repeat-y;
    background-size: 100% auto
}

.form-wrapper .zxcs-form {
    margin: 0 1.25rem;
    border: 0
}

.form-wrapper .zxcs-form-field {
    height: 2.3438rem;
    background: #fff;
    border: 1px solid #ffbfbc;
    margin-top: .25rem;
    border-radius: .4063rem
}

.form-wrapper .zxcs-form-field:first-of-type {
    border-top: 1px solid #ffbfbc
}

.form-wrapper .zxcs-form-field input {
    background: #fff
}

.form-wrapper .zxcs-form-field .zxcs-label, .form-wrapper .zxcs-form-field .zxcs-picker {
    line-height: 2.3438rem
}

.form-wrapper .form-btn {
    margin: .9375rem 1.7188rem .625rem
}

.form-wrapper .form-btn img {
    display: block;
    width: 90%;
    margin: 0 auto;
    -webkit-animation: btnAnimate 1.5s linear infinite;
    animation: btnAnimate 1.5s linear infinite
}

@-webkit-keyframes btnAnimate {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes btnAnimate {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.form-wrapper .zxcs-index-query {
    padding: .3125rem 0 0;
    color: #333
}

.form-wrapper .zxcs-index-query-text, .form-wrapper .zxcs-index-query span {
    color: #f57618
}

.index-hot {
    padding: 0 .9375rem .9375rem;
    background: #e8242f
}

.index-hot-title {
    color: #fdf093;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: .625rem
}

.index-hot-content {
    padding: 1.0938rem 1.875rem;
    background: #ffecda;
    border-radius: 5px
}